node_modules
node_modules
.next/app-build-manifest.json
.next/app-path-routes-manifest.json
.next/BUILD_ID
.next/build-manifest.json
.next/export-marker.json
.next/images-manifest.json
.next/next-minimal-server.js.nft.json
.next/next-server.js.nft.json
.next/package.json
.next/prerender-manifest.json
.next/react-loadable-manifest.json
.next/required-server-files.json
.next/routes-manifest.json
.next/trace
.next/cache/.rscinfo
.next/cache/.tsbuildinfo
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/edge-server-production/0.pack
.next/cache/webpack/edge-server-production/index.pack
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/diagnostics/build-diagnostics.json
.next/diagnostics/framework.json
.next/server/app-paths-manifest.json
.next/server/functions-config-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found.html
.next/server/app/_not-found.meta
.next/server/app/_not-found.rsc
.next/server/app/about.html
.next/server/app/about.meta
.next/server/app/about.rsc
.next/server/app/articles.html
.next/server/app/articles.meta
.next/server/app/articles.rsc
.next/server/app/consultants.html
.next/server/app/consultants.meta
.next/server/app/consultants.rsc
.next/server/app/contact.html
.next/server/app/contact.meta
.next/server/app/contact.rsc
.next/server/app/index.html
.next/server/app/index.meta
.next/server/app/index.rsc
.next/server/app/news.html
.next/server/app/news.meta
.next/server/app/news.rsc
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/services.html
.next/server/app/services.meta
.next/server/app/services.rsc
.next/server/app/success.html
.next/server/app/success.meta
.next/server/app/success.rsc
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.nft.json
.next/server/app/about/page_client-reference-manifest.js
.next/server/app/about/page.js
.next/server/app/about/page.js.nft.json
.next/server/app/api/articles/route_client-reference-manifest.js
.next/server/app/api/articles/route.js
.next/server/app/api/articles/route.js.nft.json
.next/server/app/api/articles/\[id]/route_client-reference-manifest.js
.next/server/app/api/articles/\[id]/route.js
.next/server/app/api/articles/\[id]/route.js.nft.json
.next/server/app/api/checkout-session/route_client-reference-manifest.js
.next/server/app/api/checkout-session/route.js
.next/server/app/api/checkout-session/route.js.nft.json
.next/server/app/api/consulting/\[id]/route_client-reference-manifest.js
.next/server/app/api/consulting/\[id]/route.js
.next/server/app/api/consulting/\[id]/route.js.nft.json
.next/server/app/api/create-checkout-session/route_client-reference-manifest.js
.next/server/app/api/create-checkout-session/route.js
.next/server/app/api/create-checkout-session/route.js.nft.json
.next/server/app/api/services/\[serviceType]/\[serviceId]/route_client-reference-manifest.js
.next/server/app/api/services/\[serviceType]/\[serviceId]/route.js
.next/server/app/api/services/\[serviceType]/\[serviceId]/route.js.nft.json
.next/server/app/api/services/consulting/c1.body
.next/server/app/api/services/consulting/c1.meta
.next/server/app/api/services/consulting/c2.body
.next/server/app/api/services/consulting/c2.meta
.next/server/app/api/services/consulting/c3.body
.next/server/app/api/services/consulting/c3.meta
.next/server/app/api/services/consulting/c4.body
.next/server/app/api/services/consulting/c4.meta
.next/server/app/api/services/consulting/c5.body
.next/server/app/api/services/consulting/c5.meta
.next/server/app/api/services/training/1.body
.next/server/app/api/services/training/1.meta
.next/server/app/api/services/training/2.body
.next/server/app/api/services/training/2.meta
.next/server/app/api/services/training/3.body
.next/server/app/api/services/training/3.meta
.next/server/app/api/services/training/4.body
.next/server/app/api/services/training/4.meta
.next/server/app/api/services/training/5.body
.next/server/app/api/services/training/5.meta
.next/server/app/api/services/training/6.body
.next/server/app/api/services/training/6.meta
.next/server/app/api/services/training/7.body
.next/server/app/api/services/training/7.meta
.next/server/app/api/services/training/8.body
.next/server/app/api/services/training/8.meta
.next/server/app/api/services/training/9.body
.next/server/app/api/services/training/9.meta
.next/server/app/api/services/training/10.body
.next/server/app/api/services/training/10.meta
.next/server/app/api/services/training/11.body
.next/server/app/api/services/training/11.meta
.next/server/app/api/services/training/101.body
.next/server/app/api/services/training/101.meta
.next/server/app/api/services/training/102.body
.next/server/app/api/services/training/102.meta
.next/server/app/articles/page_client-reference-manifest.js
.next/server/app/articles/page.js
.next/server/app/articles/page.js.nft.json
.next/server/app/consultants/page_client-reference-manifest.js
.next/server/app/consultants/page.js
.next/server/app/consultants/page.js.nft.json
.next/server/app/contact/page_client-reference-manifest.js
.next/server/app/contact/page.js
.next/server/app/contact/page.js.nft.json
.next/server/app/news/page_client-reference-manifest.js
.next/server/app/news/page.js
.next/server/app/news/page.js.nft.json
.next/server/app/services/page_client-reference-manifest.js
.next/server/app/services/page.js
.next/server/app/services/page.js.nft.json
.next/server/app/services/\[serviceType]/\[serviceId]/page_client-reference-manifest.js
.next/server/app/services/\[serviceType]/\[serviceId]/page.js
.next/server/app/services/\[serviceType]/\[serviceId]/page.js.nft.json
.next/server/app/services/consulting/c1.html
.next/server/app/services/consulting/c1.meta
.next/server/app/services/consulting/c1.rsc
.next/server/app/services/consulting/c2.html
.next/server/app/services/consulting/c2.meta
.next/server/app/services/consulting/c2.rsc
.next/server/app/services/consulting/c3.html
.next/server/app/services/consulting/c3.meta
.next/server/app/services/consulting/c3.rsc
.next/server/app/services/consulting/c4.html
.next/server/app/services/consulting/c4.meta
.next/server/app/services/consulting/c4.rsc
.next/server/app/services/consulting/c5.html
.next/server/app/services/consulting/c5.meta
.next/server/app/services/consulting/c5.rsc
.next/server/app/services/training/1.html
.next/server/app/services/training/1.meta
.next/server/app/services/training/1.rsc
.next/server/app/services/training/2.html
.next/server/app/services/training/2.meta
.next/server/app/services/training/2.rsc
.next/server/app/services/training/3.html
.next/server/app/services/training/3.meta
.next/server/app/services/training/3.rsc
.next/server/app/services/training/4.html
.next/server/app/services/training/4.meta
.next/server/app/services/training/4.rsc
.next/server/app/services/training/5.html
.next/server/app/services/training/5.meta
.next/server/app/services/training/5.rsc
.next/server/app/services/training/6.html
.next/server/app/services/training/6.meta
.next/server/app/services/training/6.rsc
.next/server/app/services/training/7.html
.next/server/app/services/training/7.meta
.next/server/app/services/training/7.rsc
.next/server/app/services/training/8.html
.next/server/app/services/training/8.meta
.next/server/app/services/training/8.rsc
.next/server/app/services/training/9.html
.next/server/app/services/training/9.meta
.next/server/app/services/training/9.rsc
.next/server/app/services/training/10.html
.next/server/app/services/training/10.meta
.next/server/app/services/training/10.rsc
.next/server/app/services/training/11.html
.next/server/app/services/training/11.meta
.next/server/app/services/training/11.rsc
.next/server/app/services/training/101.html
.next/server/app/services/training/101.meta
.next/server/app/services/training/101.rsc
.next/server/app/services/training/102.html
.next/server/app/services/training/102.meta
.next/server/app/services/training/102.rsc
.next/server/app/success/page_client-reference-manifest.js
.next/server/app/success/page.js
.next/server/app/success/page.js.nft.json
.next/server/chunks/432.js
.next/server/chunks/452.js
.next/server/chunks/627.js
.next/server/chunks/716.js
.next/server/chunks/801.js
.next/server/chunks/868.js
.next/server/chunks/989.js
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/server/pages/404.html
.next/server/pages/500.html
.next/static/chunks/4bd1b696-6959568433630851.js
.next/static/chunks/517-621251ff010d92c3.js
.next/static/chunks/562-44c3ad0c305d7a56.js
.next/static/chunks/565-f36fec538f677c2d.js
.next/static/chunks/839-02c758eaea91cb03.js
.next/static/chunks/938.945c113829d3a3c8.js
.next/static/chunks/framework-6b27c2b7aa38af2d.js
.next/static/chunks/main-app-e8a3eb3c153b4625.js
.next/static/chunks/main-ece3bdca9ae83228.js
.next/static/chunks/polyfills-42372ed130431b0a.js
.next/static/chunks/webpack-5a27894256d8c925.js
.next/static/chunks/app/layout-85dfc0c450a3092c.js
.next/static/chunks/app/page-e1091c3a364eefa7.js
.next/static/chunks/app/_not-found/page-39a677a1046bff12.js
.next/static/chunks/app/about/page-794945ba6963c4a3.js
.next/static/chunks/app/api/articles/route-78810c0dfa3d834e.js
.next/static/chunks/app/api/articles/\[id]/route-cb7fbdd85e9bc5c2.js
.next/static/chunks/app/api/checkout-session/route-d9507791ee6fe107.js
.next/static/chunks/app/api/consulting/\[id]/route-0f3cab4751c5c68f.js
.next/static/chunks/app/api/create-checkout-session/route-31060fedfd8c808d.js
.next/static/chunks/app/api/services/\[serviceType]/\[serviceId]/route-1e04be4d4253ddae.js
.next/static/chunks/app/articles/page-eba37ba967e6f8f0.js
.next/static/chunks/app/consultants/page-024140d158ac4b36.js
.next/static/chunks/app/contact/page-a8d58b05499fe638.js
.next/static/chunks/app/news/page-a2559e3805f6714a.js
.next/static/chunks/app/services/page-8c73a1788ab624da.js
.next/static/chunks/app/services/\[serviceType]/\[serviceId]/page-5670a902a7d7a3da.js
.next/static/chunks/app/success/page-0729406e5d25fde5.js
.next/static/chunks/pages/_app-d23763e3e6c904ff.js
.next/static/chunks/pages/_error-9b7125ad1a1e68fa.js
.next/static/css/23cf09f41d885bd6.css
.next/static/media/6d93bde91c0c2823-s.woff2
.next/static/media/26a46d62cd723877-s.woff2
.next/static/media/55c55f0601d81cf3-s.woff2
.next/static/media/97e0cb1ae144a2a9-s.woff2
.next/static/media/581909926a08bbc8-s.woff2
.next/static/media/a34f9d1faa5f3315-s.p.woff2
.next/static/media/bimal-raj.acae2de1.jpg
.next/static/media/df0a9ae256c0569c-s.woff2
.next/static/media/gopala-krishnan.d8b28338.jpg
.next/static/media/joseph.150a3055.jpg
.next/static/media/latha.a94cac38.jpg
.next/static/media/logo.ef4826a8.png
.next/static/media/loke.70e4b4bc.jpg
.next/static/media/muralitharan.e66865e4.jpg
.next/static/media/praba.3228bb1e.jpg
.next/static/media/rathinam.149a8ca6.jpg
.next/static/media/shuras-vasu.92f5d48b.jpg
.next/static/media/venkat.239ee42b.jpg
.next/static/uN-lky1_MST8xKiaP4Vj3/_buildManifest.js
.next/static/uN-lky1_MST8xKiaP4Vj3/_ssgManifest.js
.next/types/cache-life.d.ts
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/about/page.ts
.next/types/app/api/articles/route.ts
.next/types/app/api/articles/\[id]/route.ts
.next/types/app/api/checkout-session/route.ts
.next/types/app/api/consulting/\[id]/route.ts
.next/types/app/api/create-checkout-session/route.ts
.next/types/app/api/services/\[serviceType]/\[serviceId]/route.ts
.next/types/app/articles/page.ts
.next/types/app/consultants/page.ts
.next/types/app/contact/page.ts
.next/types/app/news/page.ts
.next/types/app/services/page.ts
.next/types/app/services/\[serviceType]/\[serviceId]/page.ts
.next/types/app/success/page.ts
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/7.pack
.next/cache/webpack/client-production/8.pack
.next/cache/webpack/client-production/9.pack
.next/cache/webpack/client-production/10.pack
.next/cache/webpack/client-production/11.pack
.next/cache/webpack/client-production/12.pack
.next/cache/webpack/client-production/13.pack
.next/cache/webpack/client-production/14.pack
.next/cache/webpack/client-production/15.pack
.next/cache/webpack/client-production/16.pack
.next/cache/webpack/client-production/17.pack
.next/cache/webpack/client-production/18.pack
.next/cache/webpack/client-production/19.pack
.next/cache/webpack/client-production/20.pack
.next/cache/webpack/client-production/21.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/4.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/9.pack
.next/cache/webpack/server-production/10.pack
.next/cache/webpack/server-production/11.pack
.next/cache/webpack/server-production/12.pack
.next/cache/webpack/server-production/13.pack
.next/cache/webpack/server-production/14.pack
.next/server/chunks/8.js
.next/static/0E7mK3Khtk7CmbZg7tv99/_buildManifest.js
.next/static/0E7mK3Khtk7CmbZg7tv99/_ssgManifest.js
.next/static/chunks/4bd1b696-b4d4c3868257e762.js
.next/static/chunks/396-cd113f1da052d15d.js
.next/static/chunks/517-bc6fb9ee70ed4bd5.js
.next/static/chunks/562-461a0f13ed7788fe.js
.next/static/chunks/565-47585399a3724f44.js
.next/static/chunks/938.e0c06dc41ebc04a0.js
.next/static/chunks/webpack-b61572d2e94de5b5.js
.next/static/chunks/app/layout-f8f7a9a16efd14ae.js
.next/static/chunks/app/page-366f7f9e92dbcf61.js
.next/static/chunks/app/_not-found/page-cc7afd1fc51bb7ba.js
.next/static/chunks/app/about/page-746e443ab90dca0b.js
.next/static/chunks/app/api/articles/route-090eb47d59d61db8.js
.next/static/chunks/app/api/articles/\[id]/route-2f2bcb05ed598cf9.js
.next/static/chunks/app/api/consulting/\[id]/route-376225b0482e0939.js
.next/static/chunks/app/api/create-checkout-session/route-3581e1c6d834362c.js
.next/static/chunks/app/api/services/\[serviceType]/\[serviceId]/route-54bb2d565c1d56d1.js
.next/static/chunks/app/articles/page-6137922f07d19b99.js
.next/static/chunks/app/consultants/page-384071cec9918952.js
.next/static/chunks/app/contact/page-a283eea641c3db44.js
.next/static/chunks/app/news/page-f3496deaa0dc3e07.js
.next/static/chunks/app/services/page-e0fe94f8cf3501aa.js
.next/static/chunks/app/services/\[serviceType]/\[serviceId]/page-edf73610d17360c9.js
.next/static/chunks/app/success/page-2acbca5aa9f5bb26.js
.next/static/css/171ab65dfcd13c35.css
