# Node modules
node_modules/

# Build output
.next/
out/

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
.env
.env.local
.env.*.local
*.tsbuildinfo
*.rscinfo
package-lock.json
pnpm-lock.yaml
yarn.lock
